/**
 * widget
 * created:2017/1/3
 */
/* line 10, ../../sass/widget/widget.scss */
header {
  background: #f0f0f0;
  border-bottom: 1px solid #ddd;
  position: relative;
  z-index: 2;
}

/* line 16, ../../sass/widget/widget.scss */
xmp {
  margin: 0;
  white-space: pre-line;
}

/* line 20, ../../sass/widget/widget.scss */
h1 {
  font-weight: bold;
  margin: 10px 0;
}

/* line 24, ../../sass/widget/widget.scss */
.navbar-header {
  margin-left: 90px;
}

/* line 27, ../../sass/widget/widget.scss */
.widget-title {
  font-size: 26px;
  float: left;
  padding-left: 30px;
  margin-top: 20px;
  width: 100%;
}

/* line 34, ../../sass/widget/widget.scss */
.widget-left {
  background: #f0f0f0;
  border-right: 1px solid #ddd;
  height: 100%;
  overflow-y: auto;
  padding-top: 80px;
  position: absolute;
  top: 0;
  width: 270px;
  z-index: 1;
}

/* line 45, ../../sass/widget/widget.scss */
.widget-li {
  border-top: 1px solid #f0f0f0;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  width: 100%;
}
/* line 51, ../../sass/widget/widget.scss */
.widget-li:first-child {
  border-top: 0;
}
/* line 54, ../../sass/widget/widget.scss */
.widget-li a {
  color: #666;
  display: block;
  height: 40px;
  width: 100%;
}
/* line 60, ../../sass/widget/widget.scss */
.widget-li:hover {
  background: #e7e7e7;
}

/* line 64, ../../sass/widget/widget.scss */
.widget-active {
  background: #e7e7e7;
}

/* line 67, ../../sass/widget/widget.scss */
.widget-right {
  height: 100%;
  padding-left: 270px;
  overflow-y: auto;
  padding-top: 80px;
  position: absolute;
  top: 0;
  width: 100%;
}

/* line 76, ../../sass/widget/widget.scss */
.widget-right-content {
  padding: 20px;
  position: relative;
}

/* line 80, ../../sass/widget/widget.scss */
fieldset {
  border: 1px solid #f0f0f0;
  display: inline-block;
  padding: 15px;
  width: 33%;
}
/* line 85, ../../sass/widget/widget.scss */
fieldset span {
  margin: 10px 0;
}

/* line 89, ../../sass/widget/widget.scss */
.legend-green {
  color: #4cc25c;
}

/* line 92, ../../sass/widget/widget.scss */
.legend-orange {
  color: #fa960a;
}

/* line 95, ../../sass/widget/widget.scss */
.widget-content-code {
  margin-top: 30px;
}

/* line 98, ../../sass/widget/widget.scss */
.widget-pop-test {
  background: #fff;
  border: 1px solid #f0f0f0;
  display: none;
  height: 100px;
  margin-left: 485px;
  margin-top: 10px;
  padding: 20px;
  position: absolute;
  width: 300px;
}

/* line 109, ../../sass/widget/widget.scss */
.widget-city {
  border: 1px solid #f0f0f0;
  display: inline-block;
  padding: 5px;
}
/* line 113, ../../sass/widget/widget.scss */
.widget-city:hover {
  background: #f0f0f0;
}
/* line 116, ../../sass/widget/widget.scss */
.widget-city span {
  cursor: pointer;
}
/* line 119, ../../sass/widget/widget.scss */
.widget-city .float-map-style {
  margin-left: -6px;
  margin-top: 7px;
}

/* line 124, ../../sass/widget/widget.scss */
.widget-form-save {
  margin-top: 20px;
  padding-left: 200px;
}

/* line 128, ../../sass/widget/widget.scss */
.widget-share {
  vertical-align: top;
}

/* line 131, ../../sass/widget/widget.scss */
.top-nav-wrap {
  height: 30px;
  background-color: #f7f7f7;
  border-top: 2px solid #ff4901;
  border-bottom: 1px solid #dfdfdf;
  width: 100%;
  z-index: 999;
}
