//all variables


//color
$yellow:#FFCC00;
$blue:#0096d6;
$skyblue:#32bea6;
$darkblue:#337ab7;
$red:#f00;
$pink:#FF6767;
$darkred:#e33100;

$black:#000;
$lighterhoary:#fafafa;
$hoary:#f6f6f6;
$fivehoary:#f5f5f5;

$lightergray:#eee;
$verylightgray:#f9f9f9;
$gray:#ccc;

$fourgray:#444;
$fivegray:#555;

$sevengray:#777;
$eightgray:#888;


$dimgray:#a9a9a9;
$eightgray:#808080;
$picdetail:#505050;
$scrollback:#43454C;
$backgroundgray:#ececec;
$lighterbackgroundgray:#efefef;

$darkgreen:#25823b;
$lightgreen:#90bd20;
$yellowgreen:#b6d027;
$orange:#fa960a;

$darkorange:#e18709;
$success:#dff0d8;
$sucesscolor:#3c763d;
$info:#d9edf7;
$infocolor:#31708f;
$waring:#fcf8e3;
$waringcolor:#8a6d3b;
$error:#f2dede;
$errorcolor:#a94442;
$bordergray:#ececec;
$textcolor:#2e2e2e;
$linkcolor:#666;
$purple:#7878c8;
$yellow:#f4e8b1;
$meitucolor:#878787;
$bordercolor:#eaeaea;
//number
$five:5px;
$fivepercent:5%;
//font-size
$font-size-small:12px;
$font-size-normal:14px;
$font-size-large:16px;
//icon
$iconsmall:16px;
$iconmiddle:24px;
$iconbig:32px;
//ie8
$grid-columns:12 !default;
$grid-gutter-width:30px !default;
$font-size-base:14px !default;
$line-height-base:1.428571429 !default;
$line-height-computed:floor(($font-size-base * $line-height-base)) !default;
$navbar-height:50px !default;
$navbar-padding-horizontal:floor(($grid-gutter-width / 2)) !default;
$navbar-padding-vertical:(($navbar-height - $line-height-computed) / 2) !default;

//new public color
$dgray:#ddd;
$darkgray:#333;
$sixgray:#666;
$ninegray:#999;
$lightorange:#ff8500;
$darkOrange:#e97900;
$green:#4cc25c;
$darkGreen:#3ca54a;
$white:#fff;
$btnHover:#3ca54a;
$waringColor:#ffb22d;
$errorColor:#ff6767;
$zerohoary:#f0f0f0;
$disabledColor:#dededf;
$five:5px;
$fivepercent:5%;
$f12:12px;
$f14:14px;
$f16:16px;
$f18:18px;
$f20:20px;
$f22:22px;
$f24:24px;
$f26:26px;
$f28:28px;
$f30:30px;
$f32:32px;
$f34:34px;
$f36:36px;
$f38:38px;
$f40:40px;
$f50:50px;
$f60:60px;
$z1:1;
$z2:2;
$z3:3;
$z4:4;
$z5:5;
$z6:6;
$z7:7;
$z8:8;
$z9:9;
$z10:10;
$z11:11;
$z12:12;
$z13:13;
$z14:14;
$z15:15;
$z16:16;
$z17:17;
$z18:18;
$z19:19;
$z20:20;
$z200:200;
$zMax:900;